fastapi
uvicorn[standard]
pydantic
python-multipart
Pillow

sentence-transformers>=2.2.2
faiss-cpu
transformers==4.40.1
torch==2.5.0  # 👈 compatible and available
tokenizers==0.13.2

aiohttp
scikit-learn
